<ion-app>
    <ion-menu menuId="main" side="end" disabled="false" contentId="ctt">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content id="ctt">
            <ion-list>
                <ion-item routerLink="/home">
                    <ion-icon name="home" scope="start"></ion-icon>
                    <ion-button fill="clear">Home</ion-button>
                </ion-item>
                <ion-item routerLink="/scan">
                    <ion-icon name="camera" scope="start"></ion-icon>
                    <ion-button fill="clear">Scanner un code</ion-button>
                </ion-item>
                <ion-item routerLink="/home">
                    <ion-icon name="trophy" scope="start"></ion-icon>
                    <ion-button fill="clear">Répondre à l'énigme</ion-button>
                </ion-item>
                <ion-item routerLink="/rules">
                    <ion-icon name="help-circle" scope="start"></ion-icon>
                    <ion-button fill="clear">Règles</ion-button>
                </ion-item>
                <ion-item routerLink="/admin/quizz">
                    <ion-icon name="cog" scope="start"></ion-icon>
                    <ion-button fill="clear">Gestion du quizz</ion-button>
                </ion-item>
                <ion-item routerLink="/admin/players">
                    <ion-icon name="ribbon" scope="start"></ion-icon>
                    <ion-button fill="clear">Gestion des joueurs</ion-button>
                </ion-item>
                <ion-item routerLink="/home">
                    <ion-icon name="refresh" scope="start"></ion-icon>
                    <ion-button fill="clear">Reload application</ion-button>
                </ion-item>
                <ion-item>
                    <ion-icon name="log-out" scope="start"></ion-icon>
                    <ion-button fill="clear" (click)="logout()">Log out</ion-button>
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet>
        <div style="text-align: center; margin-top: 50px; font-size: 1.5em; color: red;" *ngIf="!connectedUserService || !connectedUserService.isConnected()">
            <p>Chagile</p>
            <img src="assets/imgs/logo.png" height="200" />
        </div>
    </ion-router-outlet>
</ion-app>