<ion-header>
    <ion-toolbar>
        <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" /></span>
        <ion-title style="text-align: center;">Règles du jeu</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-padding">
        <h1>But du jeu</h1>
        <p>Salut moussaillon, nous avons eu vent d'un tresor dans le coin !</p>
        <p>Selon nos sources plusieurs codes ont été dissimulés dans le bâtiment. Ces codes te donneront l'accés à une question, de laquelle une réponse juste te donnera un indice.</p>    
        <p>Rassembles ces indices pour trouver la réponse à l'énigme du jour et empocher la récompense !</p>
        <h2>A l'abordage !</h2>
    </div>
</ion-content>