<ion-header>
    <ion-toolbar>
        <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" /></span>
        <ion-title style="text-align: center;">Accueil</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
 
    <ion-button class="bouton" shape="round" size="large" routerLink="/scan">
        <ion-icon class="icone" name="qr-scanner" scope="start"></ion-icon>
        <ion-text class="texte-bouton">Scannez un code</ion-text>
    </ion-button>

    <ion-button class="bouton" shape="round" size="large">
            <ion-icon class="icone" name="trophy" scope="start"></ion-icon>
            <ion-text class="texte-bouton">Répondez au QUIZ</ion-text>
    </ion-button>

    <ion-content>
        <ion-label>Répondez aux questions suivantes : </ion-label>
        <ion-item *ngFor="let question of questions">
            <ion-label>{{question.libelle}}</ion-label>
            <ion-icon class="icone" name="qr-scanner"></ion-icon>
        </ion-item>
    </ion-content>
   
</ion-content>