<ion-header>
  <ion-toolbar>
    <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" /></span>
    <ion-title style="text-align: center;">Gestion des quizz</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let quizz of listQuizz">
    <ion-card-header>
      <ion-card-title>{{quizz.libelle}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Statut : {{quizz.statut}}
      <br>
      <section>
        <ion-button size="small" color="success" (click)="startQuizz(quizz.id)" [disabled]="quizz.statut=='OUVERT'">Démarrer</ion-button>
        <ion-button size="small" color="warning" (click)="stopQuizz(quizz.id)" [disabled]="quizz.statut=='FERME'">Arrêter</ion-button>
      </section>
    </ion-card-content>
  </ion-card>
</ion-content>