<ion-header>
    <ion-toolbar>
        <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" /></span>
        <ion-title style="text-align: center;">Scanner un code</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-padding">
        <h2>Scan Page</h2>
        <div style="text-align: center;">Scannez le QR de la question</div>
        <qr-scanner [debug]="false" [canvasWidth]="1024" [canvasHeight]="720" [stopAfterScan]="true" [updateTime]="500">
        </qr-scanner>
    </div>

    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
        <ion-fab-button color="danger" routerLink="/home">
            <ion-icon name="home"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>