<ion-header>
  <ion-toolbar>
    <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" /></span>
    <ion-title style="text-align: center;">Gestion des joueurs</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Sélection du quizz -->
  <ion-item>
    <ion-label>Quizz</ion-label>
    <ion-select interface="action-sheet" (ionChange)="onChange($event)" [(ngModel)]="selectedQuizzIdx">
      <ion-select-option *ngFor="let quizz of listQuizz" [value]="listQuizz.indexOf(quizz)">{{quizz.libelle}}</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Liste des joueurs de ce quizz -->
  <div *ngIf="listQuizz && listPlayers && listQuizz[selectedQuizzIdx]">
    <ion-card *ngFor="let player of listPlayers">
      <ion-card-header>
        <ion-card-title>{{player.user.firstName}}&nbsp;{{player.user.lastName}}</ion-card-title>
        <ion-card-subtitle>{{player.user.email}}</ion-card-subtitle>
        <ion-card-subtitle>{{player.user.phone}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Nombre d'indices trouvés : {{player.userResponse.indicesTrouves.length}}/{{player.userResponse.reponsesQuestions.length}}
        <br>
        Quizz résolu : {{player.userResponse.statut}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="designerVainqueur()">Désigner un vainqueur</ion-button>
</ion-footer>