<ion-header>
  <ion-toolbar>
      <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" /></span>
      <ion-title style="text-align: center;">Chagile</ion-title>
      <ion-buttons slot="end">
          <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
      <h2>Manage players Page</h2>
      <p>La page de gestion des joueurs fonctionne</p>
  </div>
</ion-content>