<ion-content>

    <!-- Permet de centrer la page. Voir si moyen plus propre car galère en css -->
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
                
            <ion-item-group id="zone-presentation">
                <p class="texte-presentation">Bienvenue sur la chasse au trésor</p>
                <img id="logo" src="assets/imgs/soprasteria_logo1.jpg"/>
            </ion-item-group>

            <ion-item-group id="zone-saisie">
                <ion-list class="formulaire">
                    <ion-item>
                        <ion-label position="floating">
                            <p class="controle_label">Email</p>
                            <p class="error_label" *ngIf="err_saisie_email">{{err_saisie_email}}</p>
                        </ion-label>
                        <ion-input type="email" pattern="email" [(ngModel)]="email" tabindex="1"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">
                            <p class="controle_label">Mot de passe</p>
                            <p class="error_label" *ngIf="err_saisie_mdp">{{err_saisie_mdp}}</p>
                        </ion-label>
                        <ion-input type="password" [(ngModel)]="password" tabindex="2"></ion-input>
                    </ion-item>
                    <ion-item style="text-align: right;">
                        <ion-label>Memoriser sur le periphérique&nbsp;</ion-label>
                        <ion-checkbox scope="end " [checked]="savePassword "></ion-checkbox>
                    </ion-item>
                </ion-list>
            </ion-item-group>

            <ion-item-group id="zone-bouton">
                <ion-button class="bouton" shape="round" color="success" size="large" (click)="createAccount()">
                    <ion-icon class="icone" name="add" scope="start"></ion-icon>
                    <ion-text class="texte-bouton">Creer un compte</ion-text>
                </ion-button>
                <ion-button class="bouton" shape="round" size="large" (click)="login()">
                    <ion-icon class="icone" name="log-in" scope="start"></ion-icon>
                    <ion-text class="texte-bouton">Se connecter</ion-text>
                </ion-button>
            </ion-item-group>
    
        </ion-row>
    </ion-grid>
</ion-content>